@media (max-width: 864px){
    .header {
        border-bottom: none;
    }

    .navBar .menu-options ul{
        gap: 4px;
        font-size: 14px;
    }
}

@media (max-width: 668px){
    .navBar{
        flex-direction: column;
    }

    .navBar .menu-options ul{
        margin-top:15px ;
    }
}

@media (max-width:522px){

    .navBar{
        justify-content: center;
    }

    .navBar .menu-options ul{
        flex-direction: column;
        gap: 15px;
        font-size: 18px;
    }
}